body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
.navbar-brand,
.navbar-nav .nav-link {
  color: var(--accent-color);
}

p {
  color: var(--text-color);
}

p a,
footer a {
  color: var(--accent-color);
}

.card-text,
.form-label {
  color: var(--paragraph-color);
}

.card {
  width: 100%;
  height: 100%;
}

.progress {
  height: 30px;
}

#btnBackToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

/* Shadow amazing tool https://alvarotrigo.com/shadow-gradients/*/
.card:hover:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(3deg, var(--accent-color) 0%, var(--progress-color) 100% );
  transform: translate3d(0px, 0px, 0) scale(1);
  filter: blur(50px);
  opacity: var(0.5);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.card:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}


/* Utility */
.z-index-10 {
  z-index: 10;
}


/* Animation */
@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }

}

.portfolio-navbar {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  height: 65px;
}

.portfolio-navbar::before{
  content:'';
  position: absolute;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  background: linear-gradient(0deg, transparent, var(--accent-color));
  transform-origin: center top;
  animation: animate 6s linear infinite;
}
.portfolio-navbar::after{
  content:'';
  position: absolute;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  background: linear-gradient(0deg, transparent, var(--accent-color));
  transform-origin: center bottom;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

