body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
.navbar-brand,
.navbar-nav .nav-link {
  color: var(--accent-color);
}

p {
  color: var(--text-color);
}

footer a {
  color: var(--accent-color);
}

.card-text,
.form-label {
  color: var(--paragraph-color);
}

.progress {
  height: 30px;
}

/* Utility */
.z-index-10 {
  z-index: 10;
}


/* Animation */

@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }

}

.portfolio-navbar {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  height: 65px;
}

.portfolio-navbar::before{
  content:'';
  position: absolute;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  background: linear-gradient(0deg, transparent, var(--accent-color));
  transform-origin: center top;
  animation: animate 6s linear infinite;
}
.portfolio-navbar::after{
  content:'';
  position: absolute;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  background: linear-gradient(0deg, transparent, var(--accent-color));
  transform-origin: center bottom;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

